*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(233, 220, 220);
}
h1{
    text-align: center;
    line-height: 100px;
    color: rgb(124, 76, 76);
}
.window{
    width: 600px;
    height: 400px;
    overflow: hidden;
    margin: 50px auto 0;
    border-radius: 15px;
}
.images{
    display: flex;
    transition: all 1s;
}
.images img{
    top: 0;
    width: 100%;
    border-radius: 15px;
}
.controls{
    text-align: center;
}
.buttonStyle{
  text-align: center;
}
.buttonStyle button{
     width:20px;
     height:20px;
}